.checkoutProduct {
  display: flex;
  background-color: white;
  margin: 20px 0;
  border-radius: 5px;
}

.checkoutProduct > img {
  margin: 0 25px;
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__info {
  padding: 20px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__info > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  color: #111111;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}
